.form-popup{/*add full-width input fields*/
position:absolute;
top:50%;
left:50%;
width:400px;  /* adjust as per your needs */
height:500px;   /* adjust as per your needs */
margin-left:-200px;   /* negative half of width above */
margin-top:-200px;
background-color:rgb(202, 206, 206);
padding: 20px;
border-radius: 20px;

} 
.close {
    width: 20px;
    height: 20px;
    padding:2px 5px;
    background:#ccc;
    position: relative;
    float: left；
}

#fullscreen-container {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
  }
input[type=email],
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
/* set a style for all buttons*/

button {
    background-color: Green;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}
/*set styles for the cancel button*/

.cancelbtn {
    padding: 15px 20px;
    background-color: #FF2E00;
}
/*float cancel and signup buttons and add an equal width*/

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}
/*add padding to container elements*/

.container {
    padding: 16px;
}
/*clear floats*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*styles for cancel button and signup button
on extra small screens*/

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}